
.interior{
  margin-top: 30%;
  margin-right: 100%;
  padding-top: 50%;
  padding-right: 30%;
  margin-bottom:60%
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-transform: uppercase;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width:70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background-color: #E8E8DB;
  border:#dfc516 0.8em solid;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
    color: #6a07d2;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size:2vw;
    margin:0;
}
.ponderation{
  margin:0;
  color: #6a07d2;
   font-size: 1.5vw;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}

.modal-close {
  color:  #6a07d2;
  line-height: 3vw;
  font-size: 3vw;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10;
  width: 70px;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
  z-index: 1;
}

.modal-close:hover {
  color: black;
}

.btn {
  background-color: #6a07d2;
  padding: 1em 1em 1em;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  width: 7vw;
  height: 7vw;
  transform:rotate(45deg);
  border:#dfc516 0.5vw solid;
  z-index: 2;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat',sans-serif;
}
.btn:hover {
  background-color: #dfc516;
  border:#6a07d2 0.5vw solid;
  transition: background-color,border-color 0.6s ease;
}

.textBtn{
  transform:rotate(-45deg);
  font-size:0.9vw;
  text-transform: uppercase;
}

.prerequis :last-child{
  color: black;
  font-size:1vw;
  font-family: 'Montserrat',sans-serif;
  margin:0;
  justify-self: flex-end;
  text-align: right;
}
.prerequis :first-child{
  color: #6a07d2;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: right;
  margin:0;
}
.prerequis{
  justify-self: flex-end;
  grid-area: cell3;
  font-size:2vw;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cell1 cell2"
                       "cell3 cell3";
  margin-top:4vw;
}
.description{
  margin:0;
  font-size: 0.8vw;
  font-family: 'Comfortaa', cursive;
  line-height: 1.6vw;
  margin-right:1vw; 
  text-transform: uppercase;
  flex:1;
}
.sessionTxt{
  font-size:1vw; 
}
.imgCours{
  width:30vw;
  justify-self: center;
  margin-right:2vw;
  margin-left:1vw;
  margin-bottom: 1vw;
  border-bottom: 0.5vw #ff04a1 solid;
}