#global{
    margin: 0 auto;
    
}
 h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: bolder;
}
#notreProgramme{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:13em;
    width: 100%;
    margin-bottom:20vw;
}
#grosLosange{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    background-color: #6a07d2;
    transform:rotate(45deg);
    border:#ff04a1 0.3em solid;
    z-index: 2;
}
#ligne{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    width:100%;
    height:0.3vw;
    background-color: #ff04a1;
    z-index: 1;
}
#grosLosange h1 {
    padding-bottom: 0.2em;
    text-align: center;
    color : #dfc516;
    transform: rotate(-45deg);
    font-size:3vw;
    letter-spacing: 0.1em;
}
#cercles{
    /*margin-top:2em;*/
    background-image:url("../media/motif-picot.png");
    position:absolute;
    width:40em;
    height:20em;
    /*background-color:#0da5c5;*/
}
.sessions{
    display: flex;
}
.sessions{
    width:100%;
}
.lesCours{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left:6.5vw;
}
.lesCours>div{
    margin-right:7.5vw;
    padding: 0 !important;
}
.btn{
    text-align: center;
}

.lignes{
    margin-top:2vw;
    position: absolute;
    right:0;
    display: flex;
    justify-content: center;
    align-self: center;
    width:100%;
    height:4vw;
    background-color: #e427ec;
}
#listeDesCours{
    padding-left:1vw;
}
#listeDesCours div:nth-child(3) .lignes{
    background-color: #0da5c5;    
}
#listeDesCours div:nth-child(4) .lignes{
    background-color: #0da5c5;    
}
#listeDesCours div:nth-child(5) .lignes{
    background-color: #ff04a1;    
}
#listeDesCours div:nth-child(6) .lignes{
    background-color: #ff04a1;   
}
.sessions>h1{
    position: absolute;
    text-transform: uppercase;
    font-size:1.5vw;
    padding-top:6vw;
}
.btnChoix{
    position: relative;
    display:block;
    left:3.5vw;
    bottom:1vw; 
    width:0.8vw;
    height:0.8vw;
    border-radius: 50%;
    border:white solid 0.1vw;
    z-index: 99999;
    transition: background-color 0.6s ease;

}
.interior span:last-child{
  left:5.1vw;
  bottom:2vw;
}
.active, .btnChoix:hover{
    background-color:white;
}


