#tim-logo{
    position: absolute;
    float: left;
    width: 5em;
    height:2.5em;
    background-image: url('../media/tim-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
  
#tim-logo-link{
  position: absolute;
  transform: translate(20px, 20px);
  width: 5em;
  height: 2.5em;
  display: none;
}

#site-navigation{
  top: 0;
  right: 0;
  position: absolute;
  float: right;
  width: max(50%, 10em);
  text-align: left;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  overflow: hidden;
  z-index: 999;
}

#site-navigation .page_item{
  margin: 0 0.625em 0 1.875em;
  width: auto;
  font-size: 0.75em;
  text-transform: uppercase;
}

#primary-menu{
  display: none;
}

.overflow-hide {
  width: 100%;
  height: 100%;
  /* padding: 0; */
  /* margin: 0; */
  overflow: hidden;
  position: relative;
}

#primary-menu-burger{
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  width: 50%;
  height: 100vh;
  text-align: right;
  background-color: #6A07D2;
  transform: translate(100%, 0);
}
#nav-mobile-grid{
  overflow: hidden;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 33.333333333333333% 66.6666666666666666666%;
  align-items: center;
}
.nav-mobile-griditem{
  width: 100%;
  height: 100%;
}
#nav-mobile-footer{
  display: grid;
  width: 100%;
  height: 100%;
  bottom: 5%;
  align-items: center;
}
#nav-mobile-footer-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-mobile-footer-icon{
  padding: 2vh 0 2vh 0;
  font-size: min(400%, 7vh);
}
#maisonneuve-logo-nav{
  width: Min(10vw, 5vh);;
  height: Min(10vw, 5vh);;
  background-image: url('../media/maisonneuve.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nav-mobile-footer-icon-bottom{
  margin-bottom: Min(4vw, 3vh);
}
.nav-mobile-footer-icon-top{
  padding-top: Min(4vw, 3vh);
}

#nav-mobile-footer-bordure-top{
  position: absolute;
  width: 7em;
  height: 63%;
  position: 0 0 0 0;
  border: 3px white solid;
  pointer-events: none;
}
#nav-mobile-footer-bordure-bottom{
  position: absolute;
  width: 7em;
  height: 63%;
  position: 0 0 0 0;
  border: 3px white solid;
  transform: translate(-6px, -6px);
  pointer-events: none;
}

#primary-menu-burger-bouton{
  color: #dfc516;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 1em;
  font-size: 4em;
  transition: transform 0.5s;
  transform: translate(-120%, 0) rotate(0);
  pointer-events: all;
}

#primary-menu-burger .nav-menu{
  position: relative;
  margin: 2em 5vw 0 0;
  padding: 0 0 0 0;
  width: 100%;
}
#nav-menu-mobile {
  margin: 0 0 0 -2vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  justify-content: space-between;
}
#nav-menu-mobile li:first-of-type{
  padding-top: 1em;
}
#nav-menu-mobile li:last-of-type{
  padding-bottom: 1em;
}
#site-navigation .page_item_burger{
  font-size: min(1.6em, 4.8vw);
  letter-spacing: .2em;
  text-transform: uppercase;
}
#site-navigation a{
  color: white;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
}
#site-navigation a:hover{
  color: #dfc516;
  transition: 0.3s;
  font-weight: bold;
}
#site-navigation a:active{
  color: white;
  transition: 0.1s;
  font-weight: bold;
}
.barre_nav_mobile_group{
  display: none;;
}
.barre_nav_mobile_top_wrapper, .barre_nav_mobile_bottom_wrapper{
  height: 0.1em;
  width: 100%;
  pointer-events: none;
  margin-bottom: 0.3em;
  text-align: -webkit-right;
}

.barre_nav_mobile_bottom_wrapper{
  margin-bottom: 0;
}

.barre_nav_mobile_top{
  width: 70%;
  height: 100%;
  background-color: #ff04a1;
}
.barre_nav_mobile_bottom{
  width: 55%;
  height: 100%;
  background-color: #dfc516;
}

@media screen and (min-width: 769px) {

  #site-navigation a{
    color: black;
    transition: 0.3s;
    text-decoration: none;
    font-weight: normal;
  }
  #site-navigation a:hover{
    color: #6A07D2;
    transition: 0.3s;
    font-weight: bold;
  }

  #site-navigation{
    position: relative;
    width: 70%;
    margin-top: 15px;
  }
  #site-navigation .page_item{
    margin: 0 0.625em 0 1.875em;
    font-size: 0.84em;
  }
  #tim-logo{
    width: 3.2em;
    height: 1.6em;
  }

  #tim-logo-link{
    transform: translate(15px, 15px);
    width: 3.2em;
    height: 1.6em;
    display: initial;
  }

  #primary-menu{
      display: inherit;
  }
  #primary-menu-burger{
      display: none;
  }
}

@media screen and (min-width: 1200px) {
  #site-navigation{
    position: relative;
    width: 90%;
    margin-top: 1.25em;
  }
  #site-navigation .page_item{
    margin: 0 1.5625em 0 3em;
    font-size: 1.25em;
  }
  #tim-logo{
    width: 4.4em;
    height:2.2em;
  }

  #tim-logo-link{
    transform: translate(15px, 15px);
    width: 5em;
    height: 2.5em;
  }
  #primary-menu{
      display: inherit;
  }
  #primary-menu-burger{
      display: none;
  }
}

#site-navigation #primary-menu .nav-menu{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#site-navigation li{
  list-style: none;
}

#site-navigation #barre-haut{
  float: left;
  background-color: #FF04A1;
  width: 100px;
  height: 3px;
  margin-top: -15px;
  margin-left: 125vw;
  transition-timing-function: cubic-bezier(.15,.66,.27,1);
}
#site-navigation #barre-bas{
  float: left;
  background-color: #DFC516;
  width: 70px;
  height: 3px;
  margin-top: -5px;
  margin-left: 125vw;
  transition-timing-function: cubic-bezier(.15,.66,.27,1);
}