@media screen and (max-width: 600px) {
body{
    margin: 0;
}

.boutonEvent{
  display: block;
}

#Evenement{
  justify-self: center;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  color: #6a07d2;
  grid-area: txt;
  width: min-content;
}

.ligne{
  background-color:  #ff04a1;
  width: 100%;
  height: 0.5em;
}

#titre-page{
  align-items: center;
  display: grid;
  grid-template-areas: "ligne1 txt ligne2";
  grid-template-columns: 25% 50% 25%;
}

#cover{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10000;
    background-color: #7F7F7F;
    opacity: 0.5;
}

.grid-evenement{
    margin-top: 4em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, auto);
    align-content: flex-end;
}

.grid-item img{
    width: 100%;
    object-fit: cover;
}

.evenement-recent{
    margin: 0 auto;
    padding-top: 8em;
    width: 100%;
}

#event{
    display: grid;
    grid-template-areas: 
    "image"
    "description";
    width: 100%;
}

#description{
  grid-area: description;
  text-align: center;
}

.event-item img{
    width: 100%;
    object-fit: cover;
}

.event-item,
.grid-evenement{
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

#description-event-recent,
.description-txt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: none;
}

#description-event-recent{
  display: none;
}

.description-txt{
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    display: none;
}

.grid-evenement{
    text-align: center;
}

.titre-event-recent,
.titre-event{
    font-family: 'Comfortaa', cursive;
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.3em;
}

.event-item h3,
.date{
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
}

#afficherPlus-mobile{
    display: flex;
    width: 100%;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    justify-content: center;
    text-transform: uppercase;
}

#bouton{ 
    color: #6a07d2;
    text-decoration: none;
}


.border-outer-mobile{
  height:3.5em;
  border:solid 0.2em #6a07d2;
  padding-top: 0.2em;
  padding-left: 0.2em;
  width: 50%;
}

.border-mobile{
  display: flex;
  padding-right: 0.2em;
  padding-bottom: 0.2em;
  height:100%;
  width:100%;
  border:solid 0.2em #ff04a1;
  float:left;
  justify-content: center;
  align-items: center;
}

  #popup{
      z-index: 10001;
      position: relative;
      top: -86em;
      grid-template-rows:[img] 50% [txt] 50% ;
      display: none;
      height: 85%;
      width: 30%;
      margin: 0 auto;
      background-color: #bf96c8;
      margin-bottom: 10em;
      border:0.3em solid #dfc516 ;
      -webkit-box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
      -moz-box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
      box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
  }

  @keyframes popupOpen {
    0%{
      transform: scale(0.0);
    }

    100%{
      transform: scale(1);
    }
  }

  @keyframes popupClose {
    0%{
      transform: scale(1);
    }

    100%{
      transform: scale(0.0);
    }
  }


  #imageSelect{
      grid-area: img;
      
  }

  .imgSelect{
    width: 100%;
    display: none;
    border-bottom: 3px solid #dfc516;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  .imgSelect.transparent{
      opacity: 0;
  }

  .itemSelect{
    
    align-self: stretch;
    text-align: center;
    grid-area: txt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: none;
  }

  .titre-event-select{
    font-family: 'Comfortaa', cursive;
    margin-top: 0.1em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}

.date-select{
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-spacing: 1.1em;
    font-weight: bold;
}

#local{
    margin: 0 auto;
    width: 40%;
    border-bottom:#dfc516 0.4em solid;
}

.dot {
    position: relative;
    top: -30;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border:#bf96c8 0.2em solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #dfc516;
  }
}
@media screen and (min-width: 600px) {
#cover{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10000;
    background-color: #7F7F7F;
    opacity: 0.5;
}

.grid-evenement{
    margin-top: 4em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    align-content: flex-end;
}

.grid-item img{
    width: 100%;
    object-fit: cover;
}

.imgEvent:hover{
    cursor: pointer;
    filter: grayscale(0.8);
}

.imgEvent:active{
  filter: grayscale();
}

.evenement-recent{
    margin: 0 auto;
    padding-top: 8em;
    width: 60%;
}

#event{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 95%;
}

.event-item img{
    width: 100%;
    object-fit: cover;
}

.event-item,
.grid-evenement{
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

#description-event-recent,
.description-txt,
.description-txt-popup{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: none;
}

.description-txt{
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

.description-txt-popup{
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
  line-height: 2em;
  color: white;
}

.grid-evenement{
    text-align: center;
}

#titre-event-recent {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0;
    font-size: 1.8em;
}

.event-item h3{
    width: fit-content;
    margin-top: 0.3em;
    font-weight: bold;
    padding-bottom: 1em;
    border-bottom: #dfc516 solid 0.2em ;
}

.titre-event{
    font-family: 'Comfortaa', cursive;
    margin-top: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}

.date{
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 3em;
    font-weight: bold;
}

#afficherPlus{
    display: flex;
    width: 100%;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 5em;
    margin-top: 2em;
}

#bouton{ 
    color: black;
    text-decoration: none;
}

.border-outer{
    height:3.5em;
    width:10%;
    border:solid 0.2em #6a07d2;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }

  .border{
    display: flex;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    height:100%;
    width:100%;
    border:solid 0.2em #dfc516;
    float:left;
    justify-content: center;
    align-items: center;
  }

  .border-outer-top{
    height:40%;
    width:100%;
    border:solid 0.6em #6a07d2;
    padding-top: 0.2em;
    padding-left: 0.5em;
  }

  .border-top{
    display: flex;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    height:100%;
    width:100%;
    border:solid 0.6em #ff04a1;
    float:left;
    justify-content: center;
    align-items: center;
  }

  #popup{
      z-index: 10001;
      position: fixed;
      left: 0;
      right: 0;
      top: 30;
      grid-template-rows:[img] 50% [txt] 50% ;
      display: none;
      height: 90%;
      width: 32%;
      margin: 0 auto;
      background-color: #6a07d2;
      margin-bottom: 10em;
      border:0.3em solid #dfc516 ;
      -webkit-box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
      -moz-box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
      box-shadow: 10px 10px 6px 3px rgba(0,0,0,0.19);
      color: white;
  }

  @keyframes popupOpen {
    0%{
      transform: scale(0.0);
    }

    100%{
      transform: scale(1);
    }
  }

  @keyframes popupClose {
    0%{
      transform: scale(1);
    }

    100%{
      transform: scale(0.0);
    }
  }


  #imageSelect{
      grid-area: img;
      
  }

  .imgSelect{
    width: 100%;
    display: none;
    border-bottom: 3px solid #dfc516;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .imgSelect.transparent{
      opacity: 0;
  }

  .itemSelect{
    
    align-self: stretch;
    text-align: center;
    grid-area: txt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: none;
    color: #dfc516;

  }

  .titre-event-select{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.1em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #dfc516;
}

.date-select{
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #dfc516;

}

#local{
    margin: 0 auto;
    width: 40%;
    border-bottom:#dfc516 0.4em solid;
}

.dot {
    position: relative;
    top: -30;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border:#6a07d2 0.2em solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #dfc516;
  }
  .boutonEvent{
    display: none;
  }
  #Evenement{
    display: none;
  }
  #afficherPlus-mobile{
display: none;
}
}