#site-title, #site-subtitle{ 
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: .2em;
    padding-left: 10%;
}

#site-title{
    font-weight: bolder;
    font-size: 1.6em;
    letter-spacing: .2em;
    padding-top: 30vh;
    margin-bottom: 0px;
}

#site-title-barre{
    background-color: #FF04A1;
    margin-left: 10%;
    margin-right: 10%;
    height: 5px;
    width: 80%;
    margin-top: 8px;
}

#site-subtitle{
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: .2em;
    padding-left: 10%;
    margin-top: 8px;
}

a{
    text-decoration: none;
    transition: 0.3s;
}
#site-subtitle:hover{
    color: #6A07D2;
    transition: 0.3s;
}
#site-subtitle:active{
    color: white;
    transition: 0.1s;
}

#rectangles-gauche, #rectangles-gauche-tmp{
    position: absolute;
    margin: 0 0 0 0;
    width: 25vw;
    height: 90vh;
    bottom: 0px;
    left: 0px;
    z-index: -999;
}
#rectangles-droit, #rectangles-droit-tmp{
    position: absolute;
    margin: 0 0 0 0;
    width: 40vw;
    height: 60vh;
    bottom: 0px;
    right: 0px;
    z-index: -999;
}

#rectangles-gauche-tmp{
    /*background-color: blue;*/
    background-image: url("../media/rec2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}
#rectangles-droit-tmp{
    /*background-color: red;*/
    background-image: url("../media/rec1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}
#rectangles-droit svg{
    /*background-color: red;*/
    /*background-image: url("../media/rec1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;*/
    position: absolute;
    bottom: 0;
    right: 0;
    align-content: bottom right;
    transform-origin: botttom right;
    max-height: 75vh;
}
#rectangles-droit-wrapper{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: auto;

}
#RectangleBouge1{
    animation: bouge1 4.8746s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge2{
    animation: bouge2 4.26574s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge3{
    animation: bouge3 4.80531s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge4{
    animation: bouge4 4.1657s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge5{
    animation: bouge5 4.2451s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge6{
    animation: bouge6 4.7543s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge7{
    animation: bouge7 4.48438s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge8{
    animation: bouge8 3.8754s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge9{
    animation: bouge9 4.9437s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge10{
    animation: bouge10 3.8754s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge11{
    animation: bouge11 4.874s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge12{
    animation: bouge12 4.15627s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge13{
    animation: bouge13 5.1546s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge14{
    animation: bouge14 4.89456s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge15{
    animation: bouge15 5.678964s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge16{
    animation: bouge16 4.78964s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge17{
    animation: bouge17 4.05466s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge18{
    animation: bouge18 4.987465s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge19{
    animation: bouge19 4.6536s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge20{
    animation: bouge20 4.1657s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge21{
    animation: bouge21 4.879645s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge22{
    animation: bouge22 4.25638s cubic-bezier(.6,0,.4,1) infinite;
}

#RectangleBouge23{
    animation: bouge23 4.789645s cubic-bezier(.6,0,.4,1) infinite;
}
  
@keyframes bouge1 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(0%)}
    100% { transform: translateX(0%) }
}
@keyframes bouge2 {
    0% { transform: translateX(2%) }
    50% { transform: translateX(-1%)}
    100% { transform: translateX(2%) }
} 
@keyframes bouge3 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(1%)}
    100% { transform: translateY(0%) }
}   
@keyframes bouge4 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
}   
@keyframes bouge5 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge6 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
}    
@keyframes bouge7 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
}    
@keyframes bouge8 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
}   
@keyframes bouge9 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(1%)}
    100% { transform: translateY(0%) }
}   
@keyframes bouge10 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
}   
@keyframes bouge11 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge12 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(1%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge13 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(-3%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge14 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(0%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge15 {
    0% { transform: translateX(1%) }
    50% { transform: translateX(-3%)}
    100% { transform: translateX(1%) }
} 
@keyframes bouge16 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(-3%)}
    100% { transform: translateY(0%) }
} 
@keyframes bouge17 {
    0% { transform: translateY(-1%) }
    50% { transform: translateY(1%)}
    100% { transform: translateY(-1%) }
} 
@keyframes bouge18 {
    0% { transform: translateY(1%) }
    50% { transform: translateY(-1%)}
    100% { transform: translateY(1%) }
} 
@keyframes bouge19 {
    0% { transform: translateX(0%) }
    50% { transform: translateX(3%)}
    100% { transform: translateX(0%) }
} 
@keyframes bouge20 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(-1%)}
    100% { transform: translateY(0%) }
} 
@keyframes bouge21 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(-1%)}
    100% { transform: translateY(0%) }
} 
@keyframes bouge22 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(-2%)}
    100% { transform: translateY(0%) }
} 
@keyframes bouge23 {
    0% { transform: translateY(0%) }
    50% { transform: translateY(-3%)}
    100% { transform: translateY(0%) }
} 

.media-accueil a{
color: white;
}

.media-accueil a:hover{

    color: grey;
    transition: 0.3s;

}

  #maisonneuve-accueil{
    
    position: absolute;
    display: none;
    margin-top: 0.625em; 
    margin-left: 1.625em;
    width: 1.5625em;
    height:1.5625em;
    background-image: url('../media/maisonneuve.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-accueil{
    
    position: fixed;
    display: none;
    width: 100%;
    height: 2.8em;
    text-align: 10%;
    bottom: 0%;
    z-index: 1200;
}

.media-accueil {
    position: relative;
    display: flex;
    padding: 0.6rem;
    font-size: 1.5em;
    left: 89%;
    letter-spacing: 14px;
  }


  @media screen and (max-width: 600px) {
   
    .media-accueil {
   display: none;
    }

    #maisonneuve-accueil{
    display: none;
    }

}

@media screen and (max-width: 768px) {
    #site-title{
        font-size: 1.4em;
        letter-spacing: .28em;
        font-size: min(1.4em, 2.5vw);
        padding-top: 30vh;
        margin-right: 0%;
    }
    #site-title-barre{
        height: 4px;
        width: min(45.30em, 80.89vw);
        margin-top: 8px;
    }
    #site-subtitle{
        font-weight: normal;
        font-size: min(1em, 1.78vw);
        letter-spacing: .2em;
        margin-top: 8px;
    }

   

      .media-accueil {
     display: none;
      }

    #maisonneuve-accueil, .footer-accueil{
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    #site-title{
        font-size: 2vw;
        letter-spacing: .4vw;
        padding-top: 30vh;
        margin-right: 0%;
    }
    #site-title-barre{
        height: 5px;
        width: 59.2vw;
        margin-top: 8px;
    }
    #site-subtitle{
        font-weight: normal;
        font-size: 1.3vw;
        letter-spacing: .2em;
        margin-top: 8px;
    }
   
    .footer-accueil {
        position: absolute;
        display: flex;
        height: 2.8em;
        right: 0;
        bottom: 0;
        text-align: 10%;
       
      }

      .media-accueil {
        position: relative;
        display: flex;
        padding: 0.6rem;
        font-size: 1.5em;
        left: 85%;
        letter-spacing: 14px;
      }
}

