body{
    margin: 0;
}

.grid-evenement{
    margin-top: 4em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    align-content: flex-end;
}

.grid-item img{
    width: 100%;
    object-fit: cover;
}

.evenement-recent{
    margin: 0 auto;
    padding-top: 8em;
    width: 60%;
}

#event{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 95%;
}

.event-item img{
    width: 100%;
    object-fit: cover;
}

.event-item,
.grid-evenement{
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

#description-event-recent,
.description-txt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: none;
}

.description-txt{
    margin-left: 2em;
    margin-right: 2em;
}

.grid-evenement{
    text-align: center;
}

#titre-event-recent {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0;
    font-size: 1.8em;
}

.event-item h3{
    width: fit-content;
    margin-top: 0.3em;
    word-spacing: 1.1em;
    font-weight: bold;
    padding-bottom: 1em;
    border-bottom: #dfc516 solid 0.2em ;
}

#titre-event{
    font-family: 'Comfortaa', cursive;
    margin-top: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}

.date{
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 3em;
    word-spacing: 1.1em;
    font-weight: bold;
}

#afficherPlus{
    display: flex;
    width: 100%;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 8em;
    margin-top: 2em;
}

#bouton{ 
    color: black;
    text-decoration: none;
}

.border-outer{
    height:3.5em;
    width:10%;
    border:solid 0.2em #6a07d2;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }

  .border{
    display: flex;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    height:100%;
    width:100%;
    border:solid 0.2em #dfc516;
    float:left;
    justify-content: center;
    align-items: center;
  }

  .border-outer-top{
    height:40%;
    width:100%;
    border:solid 0.6em #6a07d2;
    padding-top: 0.2em;
    padding-left: 0.5em;
  }

  .border-top{
    display: flex;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    height:100%;
    width:100%;
    border:solid 0.6em #ff04a1;
    float:left;
    justify-content: center;
    align-items: center;
  }
