@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@800&family=Poppins:wght@200&display=swap');

body{
    background-color: #E8E8DB;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
  
#tim-logo{
  position: absolute;
  float: left;
  width: 100px;
  height:50px;
  background-image: url('../media/tim-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#tim-logo-link{
  position: absolute;
  transform: translate(20px, 20px);
  width: 100px;
  height: 50px;
}

#site-navigation{
  margin-top: 8px;
  position: relative;
  float: right;
  width: 50%;
  text-align: left;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
}

#site-navigation .page_item{
  margin: 0 10px 0 30px;
  width: auto;
  font-size: 12px;
  text-transform: uppercase;
}

#primary-menu-burger{
  
}

@media screen and (min-width: 600px) {
  #site-navigation{
    width: 70%;
    margin-top: 15px;
  }
  #site-navigation .page_item{
    margin: 0 10px 0 30px;
    width: auto;
    font-size: 15px;
  }
  #tim-logo{
    width: 65px;
    height:32.5px;
  }

  #tim-logo-link{
    transform: translate(15px, 15px);
    width: 65px;
    height: 32.5px;
  }
}

@media screen and (min-width: 1200px) {
  #site-navigation{
    width: 90%;
    margin-top: 20px;
  }
  #site-navigation .page_item{
    margin: 0 25px 0 75px;
    font-size: 20px;
  }
  #tim-logo{
    width: 85px;
    height:42.5px;
  }

  #tim-logo-link{
    transform: translate(15px, 15px);
    width: 85px;
    height: 42.5px;
  }
}

#site-navigation #primary-menu .nav-menu{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#site-navigation li{
  list-style: none;
}

#site-navigation a{
  color: black;
  transition: 0.3s;
  text-decoration: none;
}
#site-navigation a:hover{
  color: #6A07D2;
  transition: 0.3s;
  font-weight: bold;
}
#site-navigation a:active{
  color: white;
  transition: 0.1s;
  font-weight: bold;
}

#site-navigation #barre-haut{
  float: left;
  background-color: #FF04A1;
  width: 100px;
  height: 3px;
  margin-top: -15px;
  margin-left: 125vw;
  transition: margin-left 1.5s, width 1s, background-color 0.1s;
  transition-timing-function: cubic-bezier(.15,.66,.27,1);
}
#site-navigation #barre-bas{
  float: left;
  background-color: #DFC516;
  width: 70px;
  height: 3px;
  margin-top: -5px;
  margin-left: 125vw;
  transition: margin-left 2.25s, width 1.5s, background-color 0.1s;
  transition-timing-function: cubic-bezier(.15,.66,.27,1);
}