@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@800&family=Poppins:wght@200&display=swap');

body{
    background-color: #E8E8DB;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

#site-title{
    font-size: 1em;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: .1em;
    padding-left: 10%;
    padding-top: 30vh;
}

@media screen and (min-width: 600px) {
    #site-title{
      font-size: 1.4em;
      letter-spacing: .14em;
      padding-left: 10%;
      padding-top: 30vh;
    }
  }
  
  @media screen and (min-width: 1200px) {
    #site-title{
      font-size: 2vw;
      letter-spacing: .2vw;
      padding-left: 10%;
      padding-top: 30vh;
    }
  }
  
  #tim-logo{
    position: absolute;
    float: left;
    width: 100px;
    height:50px;
    background-image: url('../media/tim-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #tim-logo-link{
      position: absolute;
      transform: translate(20px, 20px);
      width: 100px;
      height: 50px;
  }

  #site-navigation{
    position: relative;
    float: right;
    width: 50%;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
  }

  #site-navigation .page_item{
    margin: 0 10px 0 30px;
    width: auto;
    font-size: 12px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 600px) {
    #site-navigation{
        width: 70%;
    }
    #site-navigation .page_item{
        margin: 0 10px 0 30px;
        width: auto;
        font-size: 15px;
    }
    #tim-logo{
        width: 75px;
        height:37.5px;
    }

    #tim-logo-link{
        transform: translate(15px, 15px);
        width: 75px;
        height: 37.5px;
    }
  }

  @media screen and (min-width: 1200px) {
    #site-navigation{
        width: 90%;
    }
    #site-navigation .page_item{
      margin: 0 25px 0 75px;
      font-size: 20px;
    }
    #tim-logo{
        width: 100px;
        height:50px;
    }

    #tim-logo-link{
        transform: translate(15px, 15px);
        width: 100px;
        height: 50px;
    }
  }

  #site-navigation #primary-menu .nav-menu{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

  #site-navigation li{
      list-style: none;
  }

  #site-navigation a{
    color: black;
    transition: 0.3s;
    text-decoration: none;
  }
  #site-navigation a:hover{
    color: #6A07D2;
    transition: 0.3s;
  }
  #site-navigation a:active{
    color: white;
    transition: 0.1s;
  }