#site-title, #site-subtitle{ 
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: .2em;
    padding-left: 10%;
}

#site-title{
    font-weight: bolder;
    font-size: 1.6em;
    letter-spacing: .2em;
    padding-top: 30vh;
    margin-bottom: 0px;
}

#site-title-barre{
    background-color: #FF04A1;
    margin-left: 10%;
    margin-right: 10%;
    height: 5px;
    width: 80%;
    margin-top: 8px;
}

#site-subtitle{
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: .2em;
    padding-left: 10%;
    margin-top: 8px;
}

#rectangles-gauche, #rectangles-gauche-tmp{
    position: absolute;
    margin: 0 0 0 0;
    width: 25vw;
    height: 90vh;
    bottom: 0px;
    left: 0px;
    z-index: -999;
}
#rectangles-droit, #rectangles-droit-tmp{
    position: absolute;
    margin: 0 0 0 0;
    width: 40vw;
    height: 60vh;
    bottom: 0px;
    right: 0px;
    z-index: -999;
}

#rectangles-gauche-tmp{
    /*background-color: blue;*/
    background-image: url("../media/rec2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}
#rectangles-droit-tmp{
    /*background-color: red;*/
    background-image: url("../media/rec1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media screen and (min-width: 600px) {
    #site-title{
        font-size: 1.4em;
        letter-spacing: .28em;
        font-size: min(1.4em, 2.5vw);
        padding-top: 30vh;
        margin-right: 0%;
    }
    #site-title-barre{
        height: 4px;
        width: min(44em, 78.57vw);
        margin-top: 8px;
    }
    #site-subtitle{
        font-weight: normal;
        font-size: min(1em, 1.78vw);
        letter-spacing: .2em;
        margin-top: 8px;
    }
}

@media screen and (min-width: 1200px) {
    #site-title{
        font-size: 2vw;
        letter-spacing: .4vw;
        padding-top: 30vh;
        margin-right: 0%;
    }
    #site-title-barre{
        height: 5px;
        width: 57.5vw;
        margin-top: 8px;
    }
    #site-subtitle{
        font-weight: normal;
        font-size: 1.3vw;
        letter-spacing: .2em;
        margin-top: 8px;
    }
}

